html{
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: Calibri, sans-serif;
}
.header{
   border-bottom: 2px solid red;
   background-color: #fefefe;
}
.page{
    
}

.column{
   /* border: 1px solid black; */
    width: 1000px;
    margin: 0px auto;
}

.page .column{
    height: 100vh;
}
#logo-i-social{
    display: flex;
}

#logo-holder {
    flex-grow: 1;
}
#logo-holder img{
    width: 25px;
    height: 25px;
    margin: 5px 0px;
}

#social-holder {
    flex-grow: 1;
    text-align: right;
}
#social-holder a{
    text-decoration: none;
}
#social-holder a img{
    margin: 5px;
    width: 24px;
    height: 24px;
}

#main-menu{
    display: flex;
}

#main-menu a{
    flex-grow: 1;
    text-align: center;
    display: block;
    padding: 10px 0px;
    text-decoration: none;
    color: red;
    transition: 400ms;
}

#main-menu a:hover,
#main-menu a.active{
    background-color: red;
    color: white;
}

#pocetna{
    text-align: center;
    color: #ffffff;
    background: url(assets/img/Pozadine/poz1.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#pocetna h1{
    font-size: 48pt;
    margin-top: 0px;
    padding-top: calc(50vh - 250px);
}

.dark-box{
    border: 1px solid black;
    background-color: #33333330;
    font-size: 24pt;
    padding: 40px;
}

#usluge{
    background: url(assets/img/Pozadine/poz2.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#karijera{
    background: url(assets/img/Pozadine/poz3.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.krugovi{
    display: flex;
    margin: 50px 0px;
    
}

.krug-holder{
    flex-grow: 1;
    text-align: center;
}

.krug{
    background-color: #dc0101;
    color: #ffffff;
    font-size: 48px;
    display: inline-block;
    padding: 25%;
    width: 50px;
    border-radius: 50%;
    height: 50px;
    font-weight: bold;
    margin-bottom: 10px;
}

.oznaka {
    font-size: 24px;
    font-weight: bold;
}

.tehnologije{
    display: flex;
    margin: 50px 0px;
}

.tehnologija{
    flex-grow: 1;
    text-align: center;
}

.tehnologija img {
    width: 48px;
    height: 48px;
}

.tehnologija p{
    font-weight: bold;
}

#usluge {
    color: #ffffff;
}
#usluge h2{
    padding: 40px;
   
}



.service-row{
    display: flex;
    margin-bottom: 40px;
    justify-content: space-between;
    
    
    

}
.service-row > div{
    
    text-align: center;
    position: relative;
    width: 300px;
    height: 200px;
    border: 1px solid white;
    
    
    
}

.service-row > div > img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

.service-row > div > p{
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 10px;
    background-color: #ffffffC0;
    margin-bottom: 0px;
    color: black;
    border: 1px solid white;
    font-weight: bold;
}

/* .matrica {
    margin-top: 40px;
    height: 500px;
    display: grid;
    grid-template: "a b c"
                   "d b e"
                   "f f g";
    align-content: space-between;
    justify-content: space-between;
}
#proizvodA{
    grid-area: a;
}
#proizvodB{
    grid-area: b;
}
#proizvodC{
    grid-area: c;
}
#proizvodD{
    grid-area: d;
}
#proizvodE{
    grid-area: e;
}
#proizvodF{
    grid-area: f;
}
#proizvodG{
    grid-area: g;
}
    
.proizvod{
    display: grid;
    grid-template: "region";
    justify-content: stretch;
    align-content: stretch;
}
.proizvod img{
    grid-area: region;
}
.proizvod span{
    grid-area: region;
    
} */

#karijera h2{
    padding-top: 50px;
}
.career-columns{
    display: flex;
}

.job-list{
    flex-grow: 1;
    flex-basis: 0;
    
}

.job-descriptions{
    flex-grow: 2;
    flex-basis: 0;
}

.job-list label{
    display: block;
    margin-bottom: 10px;
    border: 1px solid #ffffff;
    background-color: #ffffffC0;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
}

.job-descriptions input{
    display: none;
}

.job-descriptions .job-description{
    display: none;
}
.job-descriptions input:checked+.job-description{
    display: block;
}

.job-description{
    display: block;
    margin-left: 10px;
    border: 1px solid #ffffff;
    background-color: #ffffffC0;
    padding: 10px;
    font-size: 20px;

}
#kontakt h2{
    margin-top: 80px;
    text-align: center;
    margin-bottom: 40px;
}

.kontakt-region {
    display: grid;
    grid-template:  "adrese mapa"
                    "mejlovi mapa";
    grid-template-columns: 300px 1fr;
}

.kontakt-adrese {
    grid-area: adrese;
    padding-bottom: 15px;
    font-size: 14px;
}

.kontakt-mejlovi{
    grid-area: mejlovi;
    
}



.kontakt-mapa{
    grid-area: mapa;
}
.footer{
    border-top: 3px solid #dc0101;
    background-color: #fefefe;
    font-size: 15px;
}
.footer .column{
    display: flex;
}
.footer .footer-column{
    flex-grow:1;
    flex-basis: 0;
    padding-top: 20px;
    padding-bottom: 50px;
}

.align-left{
    text-align: left;
}
.align-center {
    text-align: center;
}
.align-right{
    text-align: right;
}

.red-link{
    text-decoration: none;
    color: #dc0101;   
}

.red-link:hover{
    text-decoration: underline;
}

